/* Table */
.fa-edit,
.fa-trash {
  cursor: pointer;
  margin: 0 8px;
}
td img {
  width: 100px;
  height: 100px;
  margin: auto;
  object-fit: scale-down;
}
tr:nth-child(even) {
  background-color: lightgray;
}

/* Carousel */
/* Width of screen: 1170px */
#slick-slider-wrapper {
  width: 1170px;
  height: 420px;
}
.slick-slider {
  width: 1090px;
  height: 400px;
  margin: auto;
}
/* for some reason the img becomes width: 100% and inline-block. */
.slick-slide img {
  object-fit: scale-down;
}

/* slick arrows */
.slick-arrow::before {
  color: black;
}

/* Other */
label {
  cursor: pointer;
}
